<div class="newsletter clearfix row" id="newsletter{{_id}}">
  <div class="col-sm-4">
    <div class="heading">
      <img src="{{ 'newsletter.png' | asset_url }}" alt="Newsletter" />
      <p>{{_acm_title}}</p>
    </div>
  </div>
  <div class="content col-sm-4">
    <p>{{_acm_text}}</p>
  </div>
  <div class="inputs col-sm-4">
    <form action="{{settings.popup_mailchimp_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
      <input type="email" class="email" name="EMAIL" required="required" placeholder="{{_placeholder}}" />
      <button type="submit" class="button subscribe">{{_bttext}}</button>
    </form>
  </div>
</div>