<div class="shoes3-newsletter lingerie-newsletter clearfix" id="newsletter{{_id}}">
  <div class="heading">
    <h3 class="first-heading">{{_acm_title}}</h3>
    <div class="second-heading">{{_acm_text}}</div>
  </div>
  <div class="inputs">
    <form action="{{settings.popup_mailchimp_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
      <input type="email" class="email" name="EMAIL" required="required" placeholder="{{_placeholder}}" />
      <button type="submit" class="button btn-default subscribe">{{_bttext}}</button>
    </form>
  </div>
  <div class="strip-line"></div>
</div>