<div class="fashion3-newsletter text-center clearfix" id="newsletter{{_id}}">
  <img src="{{ 'newsletter.png' | asset_url }}" alt="Newsletter" />
  <div class="heading">
    <h4>{{_acm_title}}</h4>
  </div>
  <div class="content">
    <p>{{_acm_text}}</p>
  </div>
  <div class="inputs">
    <form action="{{settings.popup_mailchimp_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
      <input type="email" class="email" name="EMAIL" required="required" placeholder="{{_placeholder}}" />
      <button type="submit" class="button subscribe">{{_bttext}}</button>
    </form>
  </div>
</div>