{%- assign _t = 'footer_bottom,footer,footer_top,footer_left,footer_right,customfooter_top,customfooter_bottom,customfooter' | split: ',' -%}
{%- if _t contains _ag_pos -%}
<h4>{{_acm_title}}</h4>
<div class="strip-line"></div>
<div class="clearfix default-newsletter" style="clear:both" id="newsletter{{_id}}">
  {%- if _acm_text != blank -%}
  <p>{{_acm_text}}</p>
  {%- endif -%}
  <form action="{{settings.popup_mailchimp_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <input type="email" class="email" name="EMAIL" required="required" placeholder="{{_placeholder}}" />
    <button type="submit" class="button subscribe">{{_bttext}}</button>
  </form>
</div>
{%- else -%}
<div class="box">
  <div class="box-heading">
    {{_acm_title}}
  </div>
  <div class="strip-line"></div>
  <div class="box-content">
    <div class="clearfix" style="clear:both" id="newsletter{{_id}}">
      {%- if _acm_text != blank -%}
      <p>{{_acm_text}}</p>
      {%- endif -%}
      <form action="{{settings.popup_mailchimp_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
        <input type="email" class="email" name="EMAIL" required="required" placeholder="{{_placeholder}}" style="margin:5px 5px 5px 0;height:33px;vertical-align:top" />
        <button type="submit" class="button subscribe" style="margin:5px 0">{{_bttext}}</button>
      </form>
    </div>
  </div>
</div>
{%- endif -%}