<div class="military-newsletter clearfix" id="newsletter{{_id}}">
  <div class="left">
    <div class="heading">{{_acm_title}}</div>
    <p>{{_acm_text}}</p>
  </div>
  <div class="inputs">
    <input type="text" class="email" placeholder="{{_placeholder}}" />
    <button type="submit" class="button subscribe">{{_bttext}}</button>
  </div>
</div>