<div class="box fashion2-products">
  <div class="box-heading">
    {{_acm_title}}
  </div>
  <div class="strip-line"></div>
  <div class="box-content products">
    <div class="clearfix" style="clear: both">
      <div class="advanced-grid-products">
        {%- assign _i = 0 -%}
        {%- for _product in _acm_prods -%}

        {%- if _i == _acm_limit -%}
        {%- break -%}
        {%- endif -%}

        {%- assign current_variant = _product.selected_or_first_available_variant | default: _product.variants.first -%}
        {%- assign featured_image = current_variant.featured_image | default: _product.featured_image -%}

        <div class="product clearfix">
          <div class="image" style="max-width:{{_acm_width}}px;">
            <a href="{{_product.url}}">
              {%- if settings.product_lazy_loading_image -%}
              <img src="{{'blank.gif' | asset_url}}" data-echo="{{featured_image | product_img_url:'large'}}" alt="{{product.title | escape}}" />
              {%- else -%}
              <img src="{{featured_image | product_img_url:'large'}}" alt="{{_product.title | escape}}" />
              {%- endif -%}
            </a>
          </div>

          <div class="right">
            <div class="name">
              <a href="{{_product.url}}">{{_product.title}}</a>
            </div>
            <div class="price">
              {%- if _product.available -%}
              {%- if current_variant.compare_at_price > current_variant.price -%}
              <span class="price-old money">{{current_variant.compare_at_price | money}}</span>
              {%- endif -%}
              <span class="price-new money">{{current_variant.price | money}}</span>
              {%- else -%}
              <span class="price-old">{{'products.product.sold_out' | t}}</span>
              {%- endif -%}
            </div>
          </div>
        </div>
        
        {%- assign _i = _i | plus: 1 -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>