{%- assign _block_id = _id -%}
{%- assign _tabcount = _acm_items | size -%}
{%- assign _grid_total = _acm_rows | times: _acm_items_per_row -%}

{%- if _acm_limit < _grid_total -%}
{%- assign _acm_limit = _grid_total %}
{%- endif -%}

{%- assign _class = 3 -%}

{%- if _acm_items_per_row == 1 -%}
{%- assign _class = 12 -%}
{%- endif -%}

{%- if _acm_items_per_row == 2 -%}
{%- assign _class = 6 -%}
{%- endif -%}

{%- if _acm_items_per_row == 3 -%}
{%- assign _class = 4 -%}
{%- endif -%}

{%- if _acm_items_per_row == 4 -%}
{%- assign _class = 3 -%}
{%- endif -%}

{%- if _acm_items_per_row == 5 -%}
{%- assign _class = 25 -%}
{%- endif -%}

{%- if _acm_items_per_row == 6 -%}
{%- assign _class = 2 -%}
{%- endif -%}

{%- if _tabcount > 0 -%}
<div data-_tabskin ="{{_acm_skin}}"
     data-_tabcount="{{_tabcount}}"
     data-_block_id = "{{ _block_id }}"
     id ="product-tab-{{_block_id}}" class="ag-products-tabs ag-products-tabs-{{section.id}} filter-product">
  <div class="filter-tabs">
    <div class="bg-filter-tabs"><div class="bg-filter-tabs2 clearfix">
      <ul id="tab{{_block_id}}" class="tab-filter-tabs-{{_block_id}}">
        {%- for _item in  _acm_items -%}
        {%- if _item.type == 'collection_link' -%}
        <li{%- if forloop.index0 == 0 -%}{{' '}}class="active"{%- endif -%}>
          <a href="#{{_item.title|handle}}{{_block_id}}-{{forloop.index0}}">{{_item.title}}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
      </div>
    </div>
  </div>
  <div class="tab-content clearfix">
    {%- for _item in  _acm_items -%}
    {%- assign _id = _block_id | append: "-" | append: forloop.index0 -%}
    {%- if _item.type == 'collection_link' -%}
    <div 
         data-_pid ="{{_id}}"
         data-_acm_carousel="{{_acm_carousel}}"
         data-_cols="1"
         data-_limit="{{_acm_limit}}"
         data-_nextpage="2"
         data-_itemsperpage="{{_grid_total}}"
         data-_catid="{%- unless _item.object == empty -%}{{_item.object.handle}}{%- endunless -%}"
         data-_colclass="{{_class}}"
         class="ag-product-tab-item-{{_block_id}} tab-pane{%- if forloop.index0 == 0 -%}{{' '}}active{%- endif -%}" id="{{_item.title|handle}}{{_block_id}}-{{forloop.index0}}">
      
      {%- if _acm_carousel  and _acm_limit > _grid_total -%}
      <!-- Carousel nav -->
      <a class="next-button" href="#myCarousel{{_id}}" id="myCarousel{{_id}}_next"><span></span></a>
      <a class="prev-button" href="#myCarousel{{_id}}" id="myCarousel{{_id}}_prev"><span></span></a>
      {%- endif -%}
      
      <div class="box-product">
        <div id="myCarousel{{_id}}"{{' '}}class="{{' carousel-wrapper '}}{%- if _acm_carousel -%}carousel slide{%- endif -%}">
          <!-- Carousel items -->
          {%-assign _loading_products_text = "products.general.loading_products" | t-%}
          {%-include 'lazy-preloader', loading_text: _loading_products_text -%}
          <div class="carousel-inner">
            {%- if _item.object.empty? -%}
            <div class="{%-if _acm_carousel == false-%}{{' active '}}{%-endif-%} item">
              <div class="product-grid">
                <div class="row">
                  {%- for i in (1.._grid_total) -%}
                  <div class="col-sm-{{_class}} col-xs-6
                              {%- if _class == 2 -%}{{' '}}col-md-25 col-lg-2 col-sm-3{%- endif -%}
                              {%- if _class == 25 -%}{{' '}}col-md-25 col-lg-25 col-sm-3{%- endif -%}">
                    {%- include 'product-item-onboarding' with _acm_url_imgdim -%}
                  </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            {%- else %}
            <div class="{%-if _acm_carousel == false-%}{{' active '}}{%-endif-%} item">
              <div class="product-grid">
                <div class="row">
                  {%- for product in _item.object.products limit:_grid_total -%}
                  <div class="col-sm-{{_class}} col-xs-6
                              {%- if _class == 2 -%}{{' '}}col-md-25 col-lg-2 col-sm-3{%- endif -%}
                              {%- if _class == 25 -%}{{' '}}col-md-25 col-lg-25 col-sm-3{%- endif -%}">
                    {%- include 'product-item' with _acm_url_imgdim -%}
                  </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{%- endif -%}