<div id="footer-blocks-column-{{block.id}}" class="footer-accordion footer-blocks-wrapper footer-blocks-bottom" {{ block.shopify_attributes }}>
  <h4 class="title footer-accordion-heading footer-title-hide">
    <span>
      {{ "general.footer.info_columns" | t }}
    </span>
    <i class="fa fa-plus-svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="width: 12px;"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"></path></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"  style="width: 12px;"><path d="M0 10h24v4h-24z"/></svg>
    </i>
  </h4>
  <div class="footer-accordion-content row">
    {%- if block.settings.footer_info_cell1_caption != '' or block.settings.footer_info_cell1_content != '' -%}
    <div class="col-sm-12 cell1 text-{{block.settings.footer_info_cell1_align}}">
      <div class="footer-block">
        {%- if block.settings.footer_info_cell1_icon != "" -%}
        {%- if block.settings.footer_info_cell1_icon == "icon" -%}
        {%- if block.settings.footer_info_cell1 != blank -%}
        <img src="{{block.settings.footer_info_cell1 | img_url:"master"}}" alt="" />
        {%- else -%}
        <img src="{{ 'footer_info1_cell1.png' | asset_img_url:"60x60", crop:"center"}}" alt="" />
        {%- endif -%} 
        {%- else -%}
        {{block.settings.footer_info_svg_cell1 }}
        {%- endif -%} 
        {%- endif -%}
        <div class="footer-block-content">
          {%- if block.settings.footer_info_cell1_caption != '' -%}<h6 class="caption">{{block.settings.footer_info_cell1_caption}}</h6>{%- endif -%}
          {%- if block.settings.footer_info_cell1_content != '' -%}<p class="content">{{block.settings.footer_info_cell1_content}}</p>{%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- if block.settings.footer_info_cell2_caption != '' or block.settings.footer_info_cell2_content != '' -%}
    <div class="col-sm-12 cell2 text-{{block.settings.footer_info_cell2_align}}">
      <div class="footer-block">
        {%- if block.settings.footer_info_cell2_icon != "" -%}
        {%- if block.settings.footer_info_cell2_icon == "icon" -%}
        {%- if block.settings.footer_info_cell2 != blank -%}
        <img src="{{block.settings.footer_info_cell2 | img_url:"master"}}" alt="" />
        {%- else -%}
        <img src="{{ 'footer_info1_cell2.png' | asset_img_url:"60x60", crop:"center"}}" alt="" />
        {%- endif -%} 
        {%- else -%}
        {{block.settings.footer_info_svg_cell2 }}
        {%- endif -%} 
        {%- endif -%}

        <div class="footer-block-content">
          {%- if block.settings.footer_info_cell2_caption != '' -%}<h6 class="caption">{{block.settings.footer_info_cell2_caption}}</h6>{%- endif -%}
          {%- if block.settings.footer_info_cell2_content != '' -%}<p class="content">{{block.settings.footer_info_cell2_content}}</p>{%- endif -%}
        </div>
      </div>
    </div>

    {%- endif -%}
    {%- if block.settings.footer_info_cell3_caption != '' or block.settings.footer_info_cell3_content != '' -%}
    <div class="col-sm-12 cell3 text-{{block.settings.footer_info_cell3_align}}">
      <div class="footer-block">
        {%- if block.settings.footer_info_cell3_icon != "" -%}
        {%- if block.settings.footer_info_cell3_icon == "icon" -%}
        {%- if block.settings.footer_info_cell3 != blank -%}
        <img src="{{block.settings.footer_info_cell3 | img_url:"master"}}" alt="" />
        {%- else -%}
        <img src="{{ 'footer_info1_cell3.png' | asset_img_url:"60x60", crop:"center"}}" alt="" />
        {%- endif -%} 
        {%- else -%}
        {{block.settings.footer_info_svg_cell3 }}
        {%- endif -%} 
        {%- endif -%}
        <div class="footer-block-content">
          {%- if block.settings.footer_info_cell3_caption != '' -%}<h6 class="caption">{{block.settings.footer_info_cell3_caption}}</h6>{%- endif -%}
          {%- if block.settings.footer_info_cell3_content != '' -%}<p class="content">{{block.settings.footer_info_cell3_content}}</p>{%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- if block.settings.footer_info_cell4_button != '' -%}
    <div class="col-sm-12 cell3 text-{{block.settings.footer_info_cell4_align}}">
      {%- if block.settings.footer_info_cell4_button != '' -%}<a href="{{block.settings.footer_info_cell4_link}}" class="{%- if footer-info1 == 'custom' -%}button{%- else -%}footer-button{%- endif -%}">{{block.settings.footer_info_cell4_button}}</a>{%- endif -%}
    </div>

    {%- endif -%}
  </div>
</div>