<header class="header-type-3 header-type-22">
  <div class="background-header"></div>
  <div class="slider-header">
    <!-- Top of pages -->
    <div id="top" class="{%- if settings.header_layout == '1' -%}full-width{%- elsif settings.header_layout == '4' -%}fixed3 fixed2{%- elsif settings.header_layout == '3' -%}fixed2{%- else -%}fixed{%- endif -%}">
      <div class="background-top"></div>
      <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
          <div class="top-bar">
            <div class="container">
              <!-- Links -->
              <ul class="menu">
                {%- if shop.customer_accounts_enabled -%}
                <li><a href="/account">{{ 'general.top.my_account' | t }}</a></li>
                {%- endif -%}
                {%- if settings.wishlist_enable -%}
                <li><a href="{{pages[settings.wishlist_page].url}}" id="wishlist-total">{{ 'general.top.wishlist' | t }}</a></li>
                {%- endif -%}
                <li><a href="/cart">{{ 'general.cart_info.cart' | t }}</a></li>
                <li><a href="/checkout">{{ 'general.cart_info.checkout' | t }}</a></li>
              </ul>
              <!-- Currency & Language -->
              {%- include 'currencies-switcher' -%}
            </div>
          </div>
          <div class="container">
            <div class="row">
              <!-- Header Left -->
              <div class="col-sm-4" id="header-left">		
                <!-- Logo -->
                {%- include "header-logo" -%}
              </div>
              <!-- Header Center -->
              <div class="col-sm-4 orderable" id="header-center">
                <!-- Menu -->
                <div  class="megamenu-background">
                  <div class="">
                    <div class="overflow-megamenu container menu-one-only">
                      {%- section 'header-menu1' -%}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Header Right -->
              <div class="col-sm-4 orderable" id="header-right">
                {%- section 'header-top-block' -%}
                <!-- Search -->
                <a href="/search" class="search_form">{%- include "search-icon" -%}</a>
                {%- if shop.customer_accounts_enabled -%}
                <a href="/account" class="my-account">{%- include "account-icon" -%}</a>
                {%- endif -%}
                {%- include 'cartblock' with 'header' -%}
              </div>
            </div>
          </div>
          <div class="overflow-menu2">
            {%- section 'header-menu2' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider -->
  <div id="slider" class="{%- if settings.slideshow_layout == '1' -%}full-width{%- elsif settings.slideshow_layout == '4' -%}fixed3 fixed2{%- elsif settings.slideshow_layout == '3' -%}fixed2{%- else -%}fixed{%- endif -%}">
    <div class="background-slider"></div>
    <div class="background">
      <div class="shadow"></div>
      <div class="pattern orderable">
        {%- include 'header-slideshow' -%}
      </div>
    </div>
  </div>
</header>