<header class="header-type-2 header-type-23">
  <div class="background-header"></div>
  <div class="slider-header">
    <!-- Top of pages -->
    <div id="top" class="{%- if settings.header_layout == '1' -%}full-width{%- elsif settings.header_layout == '4' -%}fixed3 fixed2{%- elsif settings.header_layout == '3' -%}fixed2{%- else -%}fixed{%- endif -%}">
      <div class="background-top"></div>
      <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
          <div class="top-bar">
            <div class="container">
              {%- include 'cartblock' with 'header' -%}
              <div class="dropdown account">
                <a href="/account" title="{{ 'general.top.my_account' | t }}" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">{%- include "account-icon" -%}{{ 'general.top.my_account' | t }}</a>
                <ul class="dropdown-menu">
                  {%- if customer -%}
                  <li><a href="/account">{{ 'general.top.my_account' | t }}</a></li>
                  <li><a href="/account/logout">{{ 'general.top.logout' | t }}</a></li>
                  {%- else -%}
                  <li><a href="/account/register">{{ 'general.top.register' | t }}</a></li>
                  <li><a href="/account/login">{{ 'general.top.login' | t }}</a></li>
                  {%- endif -%}
                </ul>
              </div>
              <!-- Currency & Language -->
              {%- include 'currencies-switcher' -%}
            </div>
          </div>
          <div class="container">
            <div class="row">
              <!-- Header Left -->
              <div class="col-sm-3" id="header-left">
                <!-- Logo -->
                {%- include "header-logo" -%}
              </div>
              <!-- Header Right -->
              <div class="col-sm-9 orderable" id="header-right">
                {%- section 'header-top-block' -%}
                <!-- Search -->
                <form action="/search" method="get" role="search" class="search_form">
                  <div class="button-search">{%- include "search-icon" with "form" -%}</div>
                  <input type="search" name="q"  class="input-block-level search-query" id="search_query" placeholder="{{ 'search.general.placeholder' | t }}" />
                  <div id="autocomplete-results" class="autocomplete-results"></div>
                  <input type="hidden" name="type" value="product" />
                </form>
              </div>
            </div>
          </div>
          {%- assign megamenu_type_having_2ndMenu = '4,5,6,9,14,19,29' | split: ',' -%}
          {%- if megamenu_type_having_2ndMenu contains settings.advanced_megamenu_type -%}
          <div class="container container-megamenu2 orderable">
            {%- endif -%}
            <!-- Menu -->
            <div  class="megamenu-background">
              <div class="">
                <div class="overflow-megamenu container menu-one-only">
                  {%- section 'header-menu1' -%}
                </div>
              </div>
            </div>
            {%- if megamenu_type_having_2ndMenu contains settings.advanced_megamenu_type -%}
          </div>
          {%- endif -%}
          <div class="overflow-menu2">
            {%- section 'header-menu2' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider -->
  <div id="slider" class="{%- if settings.slideshow_layout == '1' -%}full-width{%- elsif settings.slideshow_layout == '4' -%}fixed3 fixed2{%- elsif settings.slideshow_layout == '3' -%}fixed2{%- else -%}fixed{%- endif -%}">
    <div class="background-slider"></div>
    <div class="background">
      <div class="shadow"></div>
      <div class="pattern orderable">
        {%- include 'header-slideshow' -%}
      </div>
    </div>
  </div>
</header>