<div class="box blog-module box-no-advanced{%- if _lblog_mobile == false -%}{{' '}}hidden-xs hidden-sm{%- endif -%}" data-order="{{_lblog_order}}">
  <div class="box-heading">{{_lblog_heading}}</div>
  <div class="strip-line"></div>
  <div class="box-content">
    <div class="news v2 row">
      {%- if _lblog_blog != blank-%}
      {%- for _article in _lblog_blog.articles -%}
      {%- if forloop.index > _lblog_limit -%}
      {%- break -%}
      {%- endif -%}
      <div class="col-sm-3 col-xs-6">
        <div class="media">
          <div class="thumb-holder">
            <img alt="{{_article.title}}" src="{{_article.image.src | img_url: '262x343', crop: 'top'}}" />
          </div>
          <div class="media-body"  onclick="window.location.href = '{{_article.url}}'">
            {%- if _article.tags.size > 0 -%}
            <div class="tags">
              {%- for tag in _article.tags limit:2 -%}
              <a href="/blogs/{{_lblog_blog.handle}}/tagged/{{tag | handle}}">{{tag}}</a>
              {%- endfor -%}
            </div>
            {%- endif -%}
            <div class="bottom">
              <div class="date-published">{{ _article.published_at | date: "%b %d, %y" }}</div>
              <h5><a href="{{_article.url}}">{{_article.title}}</a></h5>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}{%- else -%}
      {%- for i in (1.._lblog_limit) -%}
      <div class="col-sm-3 col-xs-6">
        <div class="media">
          <div class="thumb-holder">
            <img alt="" src="{{ "noimage_265_350.png" | asset_img_url: '262x343', crop: 'top'}}" />
          </div>
          <div class="media-body"  onclick="window.location.href = '{{_article.url}}'">
            <div class="tags">
              <a href="#">{{"tag1"}}</a>
              <a href="#">{{"tag2"}}</a>
            </div>
            <div class="bottom">
               <div class="date-published">{{ "Feb 24, 2016" | date: "%b %d, %y" }}</div>
              <h5><a href="#">{{"Article Title"}}</a></h5>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>