<div class="box blog-module box-no-advanced{%- if _lblog_mobile == false -%}{{' '}}hidden-xs hidden-sm{%- endif -%}" data-order="{{_lblog_order}}">
  <div class="box-heading">{{_lblog_heading}}</div>
  <div class="strip-line"></div>
  <div class="box-content">
    <div class="cameras-news row">
      {%- if _lblog_blog != blank-%}
      {%- for _article in _lblog_blog.articles -%}
      {%- if forloop.index > _lblog_limit -%}
      {%- break -%}
      {%- endif -%}
      <div class="col-sm-6 col-xs-12">
        <div class="media clearfix">
          <div class="thumb-holder">
            {%- if _article.tags.size > 0 -%}
            <div class="tags">
              {%- for tag in _article.tags limit:2 -%}
              <a href="/blogs/{{_lblog_blog.handle}}/tagged/{{tag | handle}}">{{tag}}</a>
              {%- endfor -%}
            </div>
            {%- endif -%}
            <a class="thumb" href="{{_article.url}}">
              <img alt="{{_article.title}}" src="{{_article.image.src | img_url: '278x155', crop: 'top'}}" />
            </a>
          </div>
          <div class="media-body">
            <div class="bottom">
              <div class="date-published">{{ _article.published_at | date: "%b %d, %y" }}</div>
              <div class="post-title"><a href="{{_article.url}}">{{_article.title}}</a></div>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
      {%- else -%}
      {%- for i in (1.._lblog_limit) -%}
      <div class="col-sm-6 col-xs-12">
        <div class="media clearfix">
          <div class="thumb-holder">
            <div class="tags">
              <a href="#">{{"tag1"}}</a>
              <a href="#">{{"tag2"}}</a>
            </div>
            <a class="thumb" href="#">
               <img alt="" src="{{ "noimage_265_350.png" | asset_img_url: '278x155', crop: 'top'}}" />
            </a>
          </div>
          <div class="media-body">
            <div class="bottom">
              <div class="date-published">{{ "Feb 24, 2016" | date: "%b %d, %y" }}</div>
              <div class="post-title"><a href="#">{{"Article Title"}}</a></div>
            </div>
          </div>
        </div>
      </div>
      {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>