{%- assign sub_item_content_w 	= 'mi_ct_w_' 	| append: i | append: '_' | append: k -%}
{%- assign sub_item_mobile 		= 'mi_mobile_' 	| append: i | append: '_' | append: k -%}
{%- assign sub_item_ct_type 		= 'mi_ct_type_' | append: i | append: '_' | append: k -%}

{%- assign _sub_item_content_w 		= settings[sub_item_content_w] | plus: 0 -%}
{%- assign _sub_item_mobile 			= settings[sub_item_mobile] -%}
{%- assign _sub_item_ct_type 	= settings[sub_item_ct_type] -%}

{%- assign _t = _row_fluid | plus: _sub_item_content_w -%}

{%- if _t > 12 -%}
{%- assign _row_fluid = _sub_item_content_w -%}
</div><div class="border"></div><div class="row">
{%- else -%}
{%- assign _row_fluid = _t -%}
{%- endif -%}

<div class="col-sm-{{_sub_item_content_w}}{%- if _sub_item_mobile -%}{{' '}}mobile-enabled{%- else -%}{{' '}}mobile-disabled{%- endif -%}">
  {%- if _sub_item_ct_type == '0' -%}
  {%- assign sub_item_ct_html = 'mi_ct_html_' | append: i | append: '_' | append: k -%}
  {{settings[sub_item_ct_html]}}

  {%- elsif _sub_item_ct_type == '1' -%}
  {%- assign sub_item_ct_prod = 'mi_ct_prod_' | append: i | append: '_' | append: k -%}
  {%- assign sub_item_ct_prod_width = 'mi_ct_prod_w_' | append: i | append: '_' | append: k -%}
  {%- assign sub_item_ct_prod_height = 'mi_ct_prod_h_' | append: i | append: '_' | append: k -%}
  
  {%- assign _sub_item_ct_prod_width = settings[sub_item_ct_prod_width] -%}
  {%- assign _sub_item_ct_prod_height = settings[sub_item_ct_prod_height] -%}
  {%- assign _img_style = '' -%}
  {%- if _sub_item_ct_prod_width != '' -%}
  {%- assign _img_style = 'width:' | append: _sub_item_ct_prod_width | append: 'px;'-%}
  {%- endif -%}
  {%- if _sub_item_ct_prod_height != '' -%}
  {%- assign _img_style = _img_style | append: 'height:' | append: _sub_item_ct_prod_height | append: 'px;'-%}
  {%- endif -%}
  {%- assign _img_style = ' style="' | append: _img_style | append: '" ' -%}
  
  {%- assign _sub_item_ct_prod = all_products [settings[sub_item_ct_prod]] -%}
  {%- assign _variant_tmp = _sub_item_ct_prod.selected_or_first_available_variant | default: product.variants.first -%}
  <div class="product">
    <div class="image">
      <a href="{{_sub_item_ct_prod.url}}">
        <img src="{{_sub_item_ct_prod.featured_image | product_img_url:'grande'}}" alt="" {{_img_style}} />
      </a>
    </div>
    <div class="name">
      <a href="{{_sub_item_ct_prod.url}}">{{_sub_item_ct_prod.title}}</a>
    </div>
    <div class="price">
      <span class="money">{{ _variant_tmp.price | money }}</span>
    </div>
  </div>

  {%- elsif _sub_item_ct_type == '2' -%}
  {%- include 'mega-menu-content-links' -%}

  {%- elsif _sub_item_ct_type == '3' -%}
  {%- assign sub_item_ct_prods 		= 'mi_ct_prods_' 		| append: i | append: '_' | append: k -%}
  {%- assign sub_item_ct_prods_head 	= 'mi_ct_prods_head_' 	| append: i | append: '_' | append: k -%}
  {%- assign sub_item_ct_prods_inrow = 'mi_ct_prods_inrow_' 	| append: i | append: '_' | append: k -%}

  {%- assign _sub_item_ct_prods_inrow = settings[sub_item_ct_prods_inrow] -%}
  {%- assign _id = 'rt' | append: i | append: '_' | append: k -%}
  {%- assign _sub_item_ct_prods = settings[sub_item_ct_prods] -%}

  <div class="products-carousel-overflow clearfix">
    <div class="next" id="productsCarousel{{_id}}_next"><span></span></div>
    <div class="prev" id="productsCarousel{{_id}}_prev"><span></span></div>
    <div class="box-heading">{{settings[sub_item_ct_prods_head]}}</div>
    <div class="strip-line"></div>
    <div class="clear"></div>
    <div class="products-carousel owl-carousel" id="productsCarousel{{_id}}">
      {%- for _item in linklists[_sub_item_ct_prods].links -%}
      {%- assign _prod = _item.object -%}
      {%- assign _variant_tmp = _prod.selected_or_first_available_variant | default: _prod.variants.first -%}
      <div class="item">
        <div class="product">
          <div class="image">
            {%- if _variant_tmp.compare_at_price > variant_tmp.price and settings.product_sale_badge != '' -%}
            {%- if settings.product_sale_badge == '1' -%}
            <div class="sale">-{{ _variant_tmp.compare_at_price | minus: _variant_tmp.price | times: 100.0 | divided_by: _variant_tmp.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</div>
            {%- else -%}
            <div class="sale">{{'products.product.sale' | t}}</div>
            {%- endif -%}
            {%- elsif settings.product_new_badge and _prod.tags contains 'latest' -%}
            <div class="new">{{'products.product.new' | t}}</div>
            {%- endif -%}
            <a href="{{_prod.url}}"><img src="{{_prod.featured_image | product_img_url:'grande'}}" alt="" /></a>
          </div>
          <div class="name"><a href="{{_prod.url}}">{{_prod.title}}</a></div>
          <div class="price"><span class="money">{{ _variant_tmp.price | money }}</span></div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var owl{{_id}} = $("#productsCarousel{{_id}}");
      $("#productsCarousel{{_id}}_next").click(function(){
      	owl{{_id}}.trigger('next.owl.carousel');
      	return false;
      });
      $("#productsCarousel{{_id}}_prev").click(function(){
      	owl{{_id}}.trigger('prev.owl.carousel');
    	return false;
      });
      {%- assign _one = 1 -%}
      {%- assign _two = 1 -%}
      {%- assign _three = 1 -%}
      {%- assign _four = 1 -%}

      {%- if _sub_item_ct_prods_inrow == '2' -%}
      {%- assign _two = 1 -%}
      {%- assign _three = 2 -%}
      {%- assign _four = 2 -%}
      {%- endif -%}

      {%- if _sub_item_ct_prods_inrow == '3' -%}
      {%- assign _two = 1 -%}
      {%- assign _three = 2 -%}
      {%- assign _four = 3 -%}
      {%- endif -%}

      {%- if _sub_item_ct_prods_inrow == '4' -%}
      {%- assign _one = 1 -%}
      {%- assign _two = 2 -%}
      {%- assign _three = 3 -%}
      {%- assign _four = 4 -%}
      {%- endif -%}

      {%- if _sub_item_ct_prods_inrow == '5' -%}
      {%- assign _one = 2 -%}
      {%- assign _two = 3 -%}
      {%- assign _three = 4 -%}
      {%- assign _four = 5 -%}
      {%- endif -%}

      {%- if _sub_item_ct_prods_inrow == '6' -%}
      {%- assign _one = 2 -%}
      {%- assign _two = 3 -%}
      {%- assign _three = 5 -%}
      {%- assign _four = 6 -%}
      {%- endif -%}

      owl{{_id}}.owlCarousel({
        responsive: {
          0: {
            items: {{_one}}
          },
          479: {
            items: {{_two}}
          },
          767: {
            items: {{_three}}
          },
          992: {
            items: {{_four}}
          }
        },
        rtl: window.rtl
      });
    });
  </script>
  {%- endif -%}
</div>
