<div class="product-instagram">
  {%- assign my_instagram = instructions.instagram_token | split: '.' -%}
  <div 
       data-instagram_token="{{- instructions.instagram_token -}}"
       data-user_id = "{{- my_instagram.first -}}"
       data-instagram_limit = "{{- instructions.instagram_limit -}}"
       id="instagram_product" 
       class="product-instafeed list-inline">
  </div>
  {%- if instructions.instagram_btn != blank and instructions.instagram_username != blank -%}
  <a target="_blank" class="btn" href="https://instagram.com/{{- instructions.instagram_username -}}">
    {{- instructions.instagram_btn -}}
  </a>
  {%- endif -%}
</div>