
  {%- assign _mmenu_sub_ct_animate_time = '300'-%}
  {%- assign _animation_time = section.setting.mmenu_animation_time | plus: 0 -%}
  {%- if _animation_time > 0 and _animation_time < 5000 -%}
  {%- assign mmenu_sub_ct_animate_time = _animation_time -%}
  {%- endif -%}

  {%- assign mmenu_class = '' -%}
  {%- capture mmenu_class -%}{%- comment -%}{%- if section.settings.mmenu_fullwidth -%}{{' container'}}{%- endif -%}{%- endcomment -%}{{' container '}}{%- if section.settings.mmenu_orientation == '0' -%}{{' horizontal'}}{%- elsif section.settings.mmenu_orientation == '1'-%}{{' vertical'}}{%-if section.settings.mmenu_static_vertical == true-%}{{' static'}}{%-endif-%}{%- elsif section.settings.mmenu_orientation == '2'-%}{{' horizontal horizontal-type-2'}}{%- else -%}{{' horizontal horizontal-type-3'}}{%- endif -%}{%- if section.settings.mmenu_mobile == false -%}{{' mobile-disabled'}}{%- endif -%}{%- endcapture -%}
<div id="{{ section-mega-menus }}" 
     data-order="{{section.settings.mmenu_order}}" 
     class="section-megamenu-content container-megamenu {{mmenu_class}}"
     data-_megamenu_id="{{section-mega-menus}}"
     data-_mmenu_sub_ct_animate_time ="{{_mmenu_sub_ct_animate_time}}"
     data-section-id="{{ section.id }}" data-section-type="mega-menu" 
     data-menu_width_class="{{ section.settings.mmenu_width }}"
     >
    <div  id="megamenu-{{ section.id }}" class="{% if section.settings.mmenu_center %}mmenu-content-center{%- endif -%}">
    {%- if section.settings.mmenu_orientation == '1' -%}
    <div id="menuHeading">
      <div class="megamenuToogle-wrapper">
        <div class="megamenuToogle-pattern">
          <div class="container">
            {{ section.settings.mmenu_navigation_text }}
          </div>
        </div>
      </div>
    </div>
    <div class="megaMenuToggle">
      <div class="megamenuToogle-wrapper">
        <div class="megamenuToogle-pattern">
          <div class="container">
            {{ section.settings.mmenu_navigation_text }}
          </div>
        </div>
      </div>
    </div>
    {%- else -%}
    <div class="megaMenuToggle">
      <div class="megamenuToogle-wrapper">
        <div class="megamenuToogle-pattern">
          <div class="container">
            <div><span></span><span></span><span></span></div>
            {{ section.settings.mmenu_navigation_text }}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
    <div class="megamenu-wrapper">
      <div class="megamenu-pattern">
        <div class="container">
          <ul class="megamenu{{' '}}{%- if section.settings.mmenu_animation_type != 'none' -%}{{ section.settings.mmenu_animation_type }}{%- endif -%}">
            {%- if section.settings.mmenu_home_icon -%}
            <li class="home">
              <a href="{{shop.url}}">
                <i class="fa fa-home"></i>
              </a>
            </li>
            {%- endif -%}
            {%- if section.settings.mmenu_searchbar -%}
            <li class="search pull-right">
              <!-- Search -->
              <form action="/search" method="get" role="search" class="search_form">
                <div class="button-search2"></div>
                <input type="search" name="q" class="input-block-level search-query" placeholder="{{ 'search.general.placeholder' | t }}" id="search_query2" value="" />
                <div id="autocomplete-results2" class="autocomplete-results"></div>
                <input type="hidden" name="type" value="product" />
              </form>
            </li>
            {%- endif -%}

            {%- if section.settings.mmenu_content == '0' -%}
            {%- include 'section-mega-menu-item' -%}
            {%- else -%}
            {%- if settings.page_direction == 'LTR'-%}
            {%- include 'mega-menu-content-linklist' -%}
            {%- else -%}
            {%- include 'mega-menu-content-linklist-rtl' -%}
            {%- endif -%}
            {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css"> 
  #{{section-mega-menus}} ul.megamenu > li > .sub-menu > .content,
  #{{section-mega-menus}} ul.megamenu > li > a > .arrow:after {
    -webkit-transition: 	all {{_mmenu_sub_ct_animate_time}}ms ease-out !important;
    -moz-transition: 		all {{_mmenu_sub_ct_animate_time}}ms ease-out !important;
    -o-transition: 			all {{_mmenu_sub_ct_animate_time}}ms ease-out !important;
    -ms-transition: 		all {{_mmenu_sub_ct_animate_time}}ms ease-out !important;
    transition: 			all {{_mmenu_sub_ct_animate_time}}ms ease-out !important;}
</style>