<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7 {% unless settings.responsive_design %}no-{% endunless %}responsive{% if settings.page_direction == 'RTL' %} rtl{% endif %}"{% if settings.page_direction == 'RTL' %} dir="rtl"{% endif %}><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8 {% unless settings.responsive_design %}no-{% endunless %}responsive{% if settings.page_direction == 'RTL' %} rtl{% endif %}"{% if settings.page_direction == 'RTL' %} dir="rtl"{% endif %}><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 {% unless settings.responsive_design %}no-{% endunless %}responsive{% if settings.page_direction == 'RTL' %} rtl{% endif %}"{% if settings.page_direction == 'RTL' %} dir="rtl"{% endif %}><![endif]-->
<!--[if !IE]><!--><html lang="en" class="{% unless settings.responsive_design %}no-{% endunless %}responsive{% if settings.page_direction == 'RTL' %} rtl{% endif %}"{% if settings.page_direction == 'RTL' %} dir="rtl"{% endif %}><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  {%- if settings.responsive_design -%}<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />{%- endif -%}
  {%- if canonical_url != '' -%}<link rel="canonical" href="{{ canonical_url }}" />{%- endif -%}
  {%- if settings.favicon -%}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />{%- endif -%}
  {%- if settings.iphone_icon -%}<link rel="apple-touch-icon-precomposed" href="{{ 'iphone_icon.png' | asset_url }}" />{%- endif -%}
  {%- if settings.iphone_icon_retina -%}<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'iphone_icon_retina.png' | asset_url }}" />{%- endif -%}
  {%- if settings.ipad_icon -%}<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'ipad_icon.png' | asset_url }}" />{%- endif -%}
  {%- if settings.ipad_icon_retina -%}<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'ipad_icon_retina.png' | asset_url }}" />{%- endif -%}
  {%- if page_description or page_description != '' -%}<meta name="description" content="{{ page_description }}" />{%- endif -%}
  {%- if template contains 'index' -%}{%- if page_title != blank and page_title != 'Welcome' -%}<title>{{ page_title }}</title>{%- else -%}<title>{{ shop.name }}</title>{%- endif -%}{%- elsif template == '404' -%}<title>Page Not Found | {{ shop.name }}</title>{%- else -%}<title>{{ page_title }} | {{ shop.name }}</title>{%- endif -%}
  {%- include 'fonts' -%}
  {%- include 'social-meta-tags' -%}
  {{- 'password.css' | asset_url | stylesheet_tag -}}
  {{- 'rt.custom.scss.css' | asset_url | stylesheet_tag -}}
  {{- 'jquery-2.1.4.min.js' | asset_url | script_tag -}}
  {{ content_for_header }}
</head>
<body class="templatePassword" {% if settings.coming_bg_image != blank %}style="background-image:url({{ settings.coming_bg_image | img_url:"master" }})"{% endif %}>
  {{content_for_layout}} 
  <div class="center ready">
    <!-- Begin content-->
    <section id="content" class="clearfix">
      <div class="main-container">
        <div class="main-logo item">  
          {%- if settings.coming_logo != blank -%}
          <img src="{{ settings.coming_logo | img_url: "master" }}" title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
          {%- else -%}
          <img src="{{ settings.main_logo | img_url: 'master' }}"{{' '}}{%-if settings.logo_max_width != blank -%}style="max-width:{{settings.logo_max_width}}px;"{%-endif-%}{{' '}}title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
          {%- endif -%}
        </div>
        <!-- Begin intro -->
        <div class="tc">
          <div class="intro clearfix">
            <h1 class="item">{{- settings.coming_heading -}}</h1>
            <div class="tc item">
              <p style="text-align: center;">
                {{- settings.coming_caption -}}
              </p>
            </div>
          </div>
          <!-- CountDown -->
          {%- if settings.coming_countdown != blank -%}
          {%- assign my_date = settings.coming_countdown | split: '-' -%}
          <div class="item" id="coming-countdown" data-year="{{my_date[2]}}" data-month="{{my_date[0]}}" data-day="{{my_date[1]}}"></div>
          {%- endif -%}
          <div class="tc item js-password-container">
            <div class="subscribe-form">
              {% form 'storefront_password' %}
              {%- if form.errors -%}
              <div class="password-form-message form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
              {%- endif -%}
              <div class="input-group password__input-group">
                <input placeholder="" type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <label class="submit-wrap nah">
                  <input class="btn" type="submit" name="commit" >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path d="M334.974,0c-95.419,0-173.049,77.63-173.049,173.049c0,21.213,3.769,41.827,11.211,61.403L7.672,399.928    c-2.365,2.366-3.694,5.573-3.694,8.917v90.544c0,6.965,5.646,12.611,12.611,12.611h74.616c3.341,0,6.545-1.325,8.91-3.686    l25.145-25.107c2.37-2.366,3.701-5.577,3.701-8.925v-30.876h30.837c6.965,0,12.611-5.646,12.611-12.611v-12.36h12.361    c6.964,0,12.611-5.646,12.611-12.611v-27.136h27.136c3.344,0,6.551-1.329,8.917-3.694l40.121-40.121    c19.579,7.449,40.196,11.223,61.417,11.223c95.419,0,173.049-77.63,173.049-173.049C508.022,77.63,430.393,0,334.974,0z     M334.974,320.874c-20.642,0-40.606-4.169-59.339-12.393c-4.844-2.126-10.299-0.956-13.871,2.525    c-0.039,0.037-0.077,0.067-0.115,0.106l-42.354,42.354h-34.523c-6.965,0-12.611,5.646-12.611,12.611v27.136H159.8    c-6.964,0-12.611,5.646-12.611,12.611v12.36h-30.838c-6.964,0-12.611,5.646-12.611,12.611v38.257l-17.753,17.725H29.202v-17.821    l154.141-154.14c4.433-4.433,4.433-11.619,0-16.051s-11.617-4.434-16.053,0L29.202,436.854V414.07l167.696-167.708    c0.038-0.038,0.067-0.073,0.102-0.11c3.482-3.569,4.656-9.024,2.53-13.872c-8.216-18.732-12.38-38.695-12.38-59.33    c0-81.512,66.315-147.827,147.827-147.827S482.802,91.537,482.802,173.05C482.8,254.56,416.484,320.874,334.974,320.874z"></path>
                  </svg>
                </label>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
        <!-- End intro -->
      </div>
    </section>
    <!-- End content-->
    <!-- Begin footer -->
    {%- if settings.coming_social == "1" -%}
    <footer class="item">      
      <div class="social-icons-wrapper">          
        {%- assign social_icons = "twitter|facebook|google-plus|pinterest|instagram|tumblr|youtube-play|vimeo|behance|github|flickr|rss" | split: "|" | uniq -%}
        <ul class="social-icons"  id="social-icons-password" >
          {%- assign social_number = social_icons.size | minus:1 -%}
          {%- for i in (0..social_number) -%}
          {%- assign social_name = 'social_icon_' | append:social_icons[i] -%}
          {%- if settings[social_name] != '' -%}
          <li><a href="{{settings[social_name]}}"><i class="fa fa-{{social_icons[i]}}"></i></a></li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </footer>
    {%- endif -%}
  </div>
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'rt.application.js' | asset_url | script_tag }}
  {{ 'password.js' | asset_url | script_tag }}
{% include 'upsellapp-theme' %}</body>
</html>
