<style> 
{%- for block in section.blocks limit: section.blocks.size -%}
  
  {%- if block.settings.footer_social_size != '' -%}
  #footer-column-{{section.id}} .social-icons li {
    font-size:{{block.settings.footer_social_size | plus:0}}px;
  }
  {%- endif -%}
  #footer-column-{{section.id}} #footer-blocks-column-{{block.id}}.footer-blocks-wrapper .footer-block .caption{
    {%- if block.settings.footer_info_caption_size != blank -%}
    font-size: {{block.settings.footer_info_caption_size | plus:0}}px;
    {% endif %}
    {%- if block.settings.footer_info_caption_weight != blank -%}
    font-weight: {{block.settings.footer_info_caption_weight | plus:0}} !important;
    {%- endif -%}
  }
  #footer-column-{{section.id}} #footer-blocks-column-{{block.id}}.footer-blocks-wrapper .footer-block .content{
    {%- if block.settings.footer_info_content_size != blank -%}
    font-size: {{block.settings.footer_info_content_size | plus:0}}px;
    {%- endif -%}
    {%- if block.settings.footer_info_content_weight != blank -%}
    font-weight: {{block.settings.footer_info_content_weight | plus:0}} !important;
    {%- endif -%}
  }

  #footer-column-{{section.id}} #footer-blocks-column-{{block.id}}.footer-blocks-wrapper .cell1 .{{block.settings.footer_info_cell1_decor}}{
    color: {{block.settings.footer_info_cell1_decor_color}};
  }
  #footer-column-{{section.id}} #footer-blocks-column-{{block.id}}.footer-blocks-wrapper .cell2 .{{block.settings.footer_info_cell2_decor}}{
    color: {{block.settings.footer_info_cell2_decor_color}};
  }
  #footer-column-{{section.id}} #footer-blocks-column-{{block.id}}.footer-blocks-wrapper .cell3 .{{block.settings.footer_info_cell3_decor}}{
    color: {{block.settings.footer_info_cell3_decor_color}};
  }
{%- endfor -%}
</style> 
{%- if settings.footer_section_column_layout != '' -%}
{%- assign column_grid_version = settings.footer_section_column_layout | split: '_' -%}
{%- assign column_version = '' -%}
{%- if column_grid_version.size > 1 -%}{%- assign column_version = column_grid_version.last -%}{%- endif -%}
{%- assign column_grid = settings.footer_section_column_layout | remove: '_2' | split: '-' -%}
	<div id="footer-column-{{section.id}}" data-_class="col-sm-{{column_grid[1]}}" class="{%- if section.settings.visible_on_mobile == false -%}{{" hidden-xs"}}{%- endif-%}" data-section-id="{{ section.id }}" data-section-type="footer-column-1">
      {%- for block in section.blocks limit: section.blocks.size -%}
      {%- case block.type -%}
      {%- when 'about_us' -%}
      {%- include 'footer-block-about' with column_version -%}
      {%- when 'info_block' -%}
      {%- include 'footer-block-info-column' with column_version -%}
      {%- when 'banner' -%}
      {%- include 'footer-block-banner' with column_version -%}
      {%- when 'html' -%}
      {%- include 'footer-block-html' with column_version -%}
      {%- when 'newsletter' -%}
      {%- include 'footer-block-newsletter' with column_version -%}
      {%- when 'social_icon' -%}
      {%- include 'footer-block-social-icon' with column_version -%}
      {%- when 'featured_product' -%}
      {%- include 'footer-block-product' with column_version -%}
      {%- when 'linklist' -%}
      {%- include 'footer-block-linklist' with column_version -%}
      {%- else -%}
      {%- endcase -%}
      {%- endfor -%}
	</div>  
{%- endif -%}

{% schema %}
  {
    "name": "Column 2",
    "class": "index-section section-wrapper",
    "settings": [
		{
          "type": "checkbox",
          "id": "visible_on_mobile",
          "label": "Visible on mobile",
          "default": true
        }
	],
	"blocks":[
		{
			"type":"about_us",
			"name": "About Us",
			"settings": [
                {
                  "type": "text",
                  "id": "footer_about_heading",
                  "label": "Heading",
				  "default": "About Us"
                },
                {
                  "type": "checkbox",
                  "id": "footer_about_logo",
                  "label": "Use Logo",
				  "default": true
                },
                {
                  "type": "image_picker",
                  "id": "footer_about",
                  "label": "Pick a Logo"
                },
                {
                  "type": "textarea",
                  "id": "footer_about_address",
                  "label": "Address",
				  "default": "Your Address Goes Here"
                },
                {
                  "type": "text",
                  "id": "footer_about_phone",
                  "label": "Phone",
				  "default": "123-456-7890"
                },
                {
                  "type": "text",
                  "id": "footer_about_email",
                  "label": "Email",
				  "default": "address@email.com"
                }
			]
		},
		{
			"type": "linklist",
			"name": "Linklist",
			"settings": [
				{
                  "type": "text",
                  "id": "footer_linklist_heading",
                  "label": "Heading",
                  "default": "Heading"
                },
                {
                  "type": "link_list",
                  "id": "footer_linklist",
                  "label": "Choose a Linklist"
                }
			]
		},
		{
			"type": "featured_product",
			"name": "Featured Products",
			"settings": [
                {
                  "type": "text",
                  "id": "footer_product_heading",
                  "label": "Heading",
				  "default": "Your Collection"
                },
                {
                  "type": "collection",
                  "id": "footer_product_collection",
                  "label": "Choose a Collection"
                },
                {
                  "type": "text",
                  "id": "footer_product_limit",
                  "label": "Limit",
				  "default": "2"
                }
			]
		},
		{
			"type": "html",
			"name": "Custom HTML",
			"settings": [
				{
                  "type": "text",
                  "id": "footer_html_heading",
                  "label": "Heading",
				  "default": "Heading"
                },
                {
                  "type": "textarea",
                  "id": "footer_html_custom",
                  "label": "Your HTML [( ? )](https:\/\/youtu.be\/s7s8hWXVxGE)",
				  "default": "This is HTML Content"
                }
			]
		},
		{
			"type":"newsletter",
			"name": "Newsletter",
			"settings": [
                {
                  "type": "text",
                  "id": "footer_newsletter_heading",
                  "label": "Heading",
				  "default": "Newsletter"
                },
                {
                  "type": "textarea",
                  "id": "footer_newsletter_caption",
                  "label": "Caption",
				  "default": "Your Caption Goes Here"
                }
			]
		},
		{
			"type": "social_icon",
			"name": "Social Icon",
			"settings": [
                {
                  "type": "text",
                  "id": "footer_social_heading",
                  "label": "Heading",
				  "default": "Follow Us"
                },
                {
                  "type": "text",
                  "id": "footer_social_size",
                  "label": "Icon Size (in pixels)",
				  "default": "26"
                }
			]
		},
		{
            "type": "info_block",
            "name": "Info Block",
            "settings": [
                {
                    "type": "header",
                    "content": "--- Styling ---"
                },
                {
                    "type": "header",
                    "content": "Caption"
                },
                {
                    "type": "text",
                    "id": "footer_info_caption_size",
                    "label": "Font Size (in pixels, optional)"
                },
                {
                    "type": "select",
                    "id": "footer_info_caption_weight",
                    "label": "Font Weight",
                    "options": [
                        {
                            "value": "100",
                            "label": "100"
                        },
                        {
                            "value": "200",
                            "label": "200"
                        },
                        {
                            "value": "300",
                            "label": "300"
                        },
                        {
                            "value": "400",
                            "label": "400"
                        },
                        {
                            "value": "500",
                            "label": "500"
                        },
                        {
                            "value": "600",
                            "label": "600"
                        },
                        {
                            "value": "700",
                            "label": "700"
                        },
                        {
                            "value": "800",
                            "label": "800"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "text",
                    "id": "footer_info_content_size",
                    "label": "Font Size (in pixels, optional)"
                },
                {
                    "type": "select",
                    "id": "footer_info_content_weight",
                    "label": "Font Weight",
                    "options": [
                        {
                            "value": "100",
                            "label": "100"
                        },
                        {
                            "value": "200",
                            "label": "200"
                        },
                        {
                            "value": "300",
                            "label": "300"
                        },
                        {
                            "value": "400",
                            "label": "400"
                        },
                        {
                            "value": "500",
                            "label": "500"
                        },
                        {
                            "value": "600",
                            "label": "600"
                        },
                        {
                            "value": "700",
                            "label": "700"
                        },
                        {
                            "value": "800",
                            "label": "800"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "--- Columns ---"
                },
                {
                    "type": "header",
                    "content": "Content #1"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell1_align",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell1_icon",
                    "label": "Use Icon",
                    "options": [
						{
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "svg",
                            "label": "SVG Content"
                        },
                        {
                            "value": "icon",
                            "label": "Image"
                        }
                    ]
                },
                {
                    "type": "html",
                    "id": "footer_info_svg_cell1",
                    "label": "SVG content"
                },
                {
                    "type": "image_picker",
                    "id": "footer_info_cell1",
                    "label": "Pick an Icon"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell1_caption",
                    "label": "Caption",
                    "default": "Your Caption"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell1_content",
                    "label": "Content",
                    "default": "Your Text Goes Here"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell1_decor",
                    "label": "Highlighting",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "caption",
                            "label": "Caption"
                        },
                        {
                            "value": "content",
                            "label": "Content"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "color",
                    "id": "footer_info_cell1_decor_color",
                    "label": "Highlight Color",
                    "default": "#d42f37"
                },
                {
                    "type": "header",
                    "content": "Content #2"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell2_align",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell2_icon",
                    "label": "Use Icon",
                    "options": [
						{
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "svg",
                            "label": "SVG Content"
                        },
                        {
                            "value": "icon",
                            "label": "Image"
                        }
                    ]
                },
                {
                    "type": "html",
                    "id": "footer_info_svg_cell2",
                    "label": "SVG content"
                },
                {
                    "type": "image_picker",
                    "id": "footer_info_cell2",
                    "label": "Pick an Icon"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell2_caption",
                    "label": "Caption",
                    "default": "Your Caption"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell2_content",
                    "label": "Content",
                    "default": "Your Text Goes Here"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell2_decor",
                    "label": "Highlighting",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "caption",
                            "label": "Caption"
                        },
                        {
                            "value": "content",
                            "label": "Content"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "color",
                    "id": "footer_info_cell2_decor_color",
                    "label": "Hightlight Color",
                    "default": "#d42f37"
                },
                {
                    "type": "header",
                    "content": "Content #3"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell3_align",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell3_icon",
                    "label": "Use Icon",
                    "options": [
						{
                            "value": "",
                            "label": "None"
                        },
                        {
                            "value": "svg",
                            "label": "SVG Content"
                        },
                        {
                            "value": "icon",
                            "label": "Image"
                        }
                    ]
                },
                {
                    "type": "html",
                    "id": "footer_info_svg_cell3",
                    "label": "SVG content"
                },
                {
                    "type": "image_picker",
                    "id": "footer_info_cell3",
                    "label": "Pick an Icon"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell3_caption",
                    "label": "Caption",
                    "default": "Your Caption"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell3_content",
                    "label": "Content",
                    "default": "Your Text Goes Here"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell3_decor",
                    "label": "Highlighting",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "caption",
                            "label": "Caption"
                        },
                        {
                            "value": "content",
                            "label": "Content"
                        }
                    ],
                    "default": "default"
                },
                {
                    "type": "color",
                    "id": "footer_info_cell3_decor_color",
                    "label": "Highlight Color",
                    "default": "#d42f37"
                },
				{
                    "type": "header",
                    "content": "Content #4"
                },
                {
                    "type": "select",
                    "id": "footer_info_cell4_align",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell4_button",
                    "label": "Button Text",
                    "default": "Contact Form"
                },
                {
                    "type": "text",
                    "id": "footer_info_cell4_link",
                    "label": "Button Link",
                    "default": "#"
                }
            ]
        }
	]
	
  }
{% endschema %}